.graph-poc {
    width: 100%;
    height: 100%;
}

.graph-poc .react-flow__node {
    width: 50px;
    height: 50px;
}

.graph-poc .react-flow__handle {
    width: 8px;
    height: 8px;
}

.graph-poc .react-flow__panel {
    margin: 8px;
    padding: 6px 8px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.9);
}

.graph-poc circle.nopan.nodrag {
    cursor: pointer;
}
